<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/header :: div}"></div>
    <h3>Update</h3>
    <br>
    <form th:object="${DATA_BranchOfficeDtoForm}" method="post"
          th:action="@{/AddBranchOffice}">
        <input type="hidden" th:field="*{branchOfficeId}">
        <div class="form-group">
            <label class="cloud-label">Name</label>
            <input type="text" th:field="*{name}">
            <br>
            <label class="cloud-label">Country</label>
            <input type="text" th:field="*{country}">
            <br>
        </div>
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a class="btn btn-outline-danger" th:href="@{/GetAllBranchOffice}" role="button">Don't save</a>
    </form>
</div>
</body>
</html>